name: CI

on: [push]

jobs:
  test-pip:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        attempt:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
      fail-fast: false
    steps:
    - name: pip install scipy
      run: |
        source <(curl -sL http://ci.q-ctrl.com)
        ./ci docker run qctrl/python-build:3.7 sh -- -c '
          pip install tensorflow==2.2.0
        '

